* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif; 
}
/*  header */

.cont-1 {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont-2 {
    background-color: black;
    color: white;
    width: 700px;
    padding: 20px; 
}

.center {
    text-align: center;
    padding: 20px; 
}

/* Body  */

.body-1 {
    display: flex;
    padding: 20px;
    width: 750px;
    margin-left: 250px;
    align-items: flex-start; 
    
}

.col-1 {
    flex: 1;
    border: 2px solid black;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    margin-right: 20px; 
    height: 220px;
    margin-top: 20px;
    
}

.col-2 {
    flex: 3;
}

.img {
    height: 70px;
    width: 70px;

}

.btn {
    background-color: #F0BF4C;
    color: black;
    box-shadow: 5px 5px 5px 5px black;
    width: 80px;
    height: 30px;
}

.top {
    border: 2px solid black;
    padding: 20px;
    margin: 20px;
}

.line {
    display: flex; 
    justify-content: space-between;
}

.line-1 {
    display: flex; 
    align-items: center;
    gap: 10px;
}

